body {
    background-image: url(/Users/macuser/coding_bootcamp/basic_portfolio/assets/images/hexellence.png);
    background-repeat: repeat;
}

h1 {
    float: left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    margin-left: 12%;
    padding: 17px;
    margin-top: 0px;
}

h2 {
    color: #4aaaa5;
    margin-left: 10px;
    background-color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h4 {
    color: lightgray;
    float: right;
    margin-right: 13%;
    margin-top: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    color: #777777;
    line-height: 200%;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

hr {
    border: 1px solid #cccccc;
    width: 100%;
    margin-left: 0px;
    padding-left: auto;
    padding-right: auto;
    
}

.all {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    width: 100%;
    height: 70px;
}

a {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
}

img {
    float: left;
    padding-right: 10px;
}

#main {
    background-color: white;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
    padding-top: 0px;  
    padding-left: 20px;
    padding-right: 20px; 
    
}

.form {
    background-color: white;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    border: 1px solid #dddddd;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: lightgray;
}

#name {
    width: 97.5%;
    padding-left: 10px;
    padding-right:10px;
    border: 2px solid #dddddd;
}

#email {
    width: 97.5%;
    padding-left: 10px;
    padding-right:10px;
    border: 2px solid #dddddd;
}

#message {
    width: 97.5%;
    padding-left: 10px;
    padding-right:10px;
    border: 2px solid #dddddd;
}

input {
    color: #dddddd;
}

#button {
    background-color: #4aaaa5;
    color: white;
    padding-bottom: 5px;
}

footer {
    background-color: #666666;
    color: lightgray;
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 10px;
    margin-left: -20px;
    margin-top: 0px;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#portfolio {
    background-color: white;
    width: 960px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
    padding-top: 0px;  
    padding-left: 20px;
    padding-right: 20px; 
}

.first2 {
    display: flex;
    margin-bottom: 35px;
    margin-top: 20px;
}

.next2 {
    display: flex;
    margin-bottom: 35px;
}

.last {
    display: flex;
    margin-bottom: 35px;
}

#pic2, #pic4 {
    margin-left: 20px;
}

#pic11 {
    position: relative;
    width: 100%;
}